@font-face {
	font-family: "font";
	src: url("../assets/font.otf");
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

#launchGame {
  cursor: pointer;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#game, #poster {
  border: solid 1px white;
}

#score {
  color: #FFFF31;
  font-family: font;
  font-size: 48px;
  margin-top: 24px;
}

footer {
  color: white;
  font-family: font;
  font-size: 24px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
}

footer p {
  margin: 12px;
}

footer a {
  color: #289ce0;
}